{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
		<div class = "page-about">
			<div class = "page-title">
				<h3>O Instituto</h3>
			</div>
			<img src = "{% static "img/about_img.jpeg" %}" class = "img" />
			<div class = "text">
				<p class = "p1">O Instituto de Microscopia Operatória foi criado para oferecer aos profissionais das áreas da medicina, odontologia e veterinária um espaço único para o desenvolvimento de novas tecnologias aplicadas à possibilidade do treinamento clínico e cirúrgico. <br/> Pioneiro na américa latina, seu compromisso é oferecer aos profissionais um suporte diferenciado que irá destacar à excelência frente ao mercado exigente da medicina e odontologia. </p>
				<p>O equipamento auxilia na postura de trabalho do profissional, proporcionando uma excelente ergonomia e na realização de procedimentos clínicos e cirúrgicos precisos. Além desses benefícios, o Microscópio Operatório realiza o registro fotográfico e filmagem, o que possibilita sua utilização como documentação e como instrumento de orientação ao paciente através da comunicação visual. </p>
				<p>Para a realização eficiente de qualquer procedimento o profissional deve primeiro familiarizar-se com seu instrumento de trabalho. Desta maneira o treinamento exaustivo preliminar torna-se indispensável, diminuindo a curva de aprendizado que toda nova técnica exige para domínio do aparelho.<br/>
				As aulas teóricas são ministradas em um confortável auditório multimídia com projetor e tela para apresentação de trabalhos em tempo real.</p>
			</div>
		</div>
{% endblock %}